# WhatsApp Cloud API
WHATSAPP_ACCESS_TOKEN=yEAAW8fSAlIZA0BROiDIicY2k7ll2lF31MDSX94yKoy5jjV96gxcN0sOlWvHmf3yzKJNZC0HHXFHzeqPZBj977PBChKZBv5YpFQO4YOkaoj2ZBbdp0C2HXeKufXpwGzwynZBVyBEiM2AnSZBImuf5Y1G64pZCk4ZB2oLZCYaal2AkWhpqp7VXcp6u9IPMOrYjI8L6uDWgNaZCdMHEhI3ZACy6iUDUgDNCcvhHWZAoKIlSJSXJdCUxAIPtLe5G5nLPLzRPlqMnlQ1msvXhhyh7JY5nbtXWVL8eox
WHATSAPP_PHONE_NUMBER_ID=1017785674760183
WHATSAPP_VERIFY_TOKEN=Alsaoral123.

# OpenAI
OPENAI_API_KEY=https://docs.google.com/spreadsheets/d/15JHTrwZFMKxZEHfXy9oo7Kcl9rgVrS-T5P77snCmfbo/edit?gid=0#gid=0

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://zzaetaljaxxuvbgnfdvc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp6YWV0YWxqYXh4dXZiZ25mZHZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYxMDI2NzEsImV4cCI6MjA5MTY3ODY3MX0.QHORagfUjovVhxNmU7BGFJxT97sFCaUal29edDB1Eek
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp6YWV0YWxqYXh4dXZiZ25mZHZjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjEwMjY3MSwiZXhwIjoyMDkxNjc4NjcxfQ.az20amY0aK5mNQAa5kuACGJ7QXd1TFc64S72jWJCvEA
